
<%= simple_form_for(@user) do |f| %>
<% if user.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<br />
<% end %>

  <div class="mb-6">
                      <%= f.label :name, class: label_class %>
        <%= f.text_field :name, class: input_class %>
            </div>
  <div class="mb-6">
                      <%= f.label :surname, class: label_class %>
        <%= f.text_field :surname, class: input_class %>
            </div>
  <div class="mb-6">
                      <%= f.label :email, class: label_class %>
        <%= f.text_field :email, class: input_class %>
            </div>
  <div class="mb-6">
                      <%= f.label :password, class: label_class %>
        <%= f.text_field :password, class: input_class %>
            </div>
  <div class="mb-6">
                      <%= f.label :admin, class: label_class %>
        <%= f.check_box :admin, class: input_class %>
            </div>

<%= f.submit class: button_class(theme: 'primary') %>

<% if user.persisted? %>
<%= link_to "Cancel", user, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", users_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>