<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">User</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to 'All Users', users_path, class: button_class(theme: "transparent") %>
      <%= link_to 'Edit', edit_user_path(@user), class: button_class(theme:"primary") %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Name:</p>
        <p><%= @user.name %></p>
      </li>
      <li>
        <p class="font-semibold">Surname:</p>
        <p><%= @user.surname %></p>
      </li>
      <li>
        <p class="font-semibold">Email:</p>
        <p><%= @user.email %></p>
      </li>
      <li>
        <p class="font-semibold">Password:</p>
        <p><%= @user.password %></p>
      </li>
      <li>
        <p class="font-semibold">Admin:</p>
        <p><%= @user.admin %></p>
      </li>
  </ul>
</div>