


<div class="container mx-auto px-4">
  <div class="flex items-center justify-between flex-wrap mb-6">
    <h1 class="text-3xl font-bold">Orders</h1>

    <%= link_to 'Add New Order', new_order_path, class: button_class(theme: "primary") %>
  </div>

  <table class="table-auto border-collapse border-slate-400 w-full">
    <thead class="bg-slate-50 dark:bg-slate-700">
      <tr>

                  <th class="border border-slate-300 dark:border-slate-600 font-semibold p-4 text-slate-900 dark:text-slate-200 text-left">Total price</th>
                  <th class="border border-slate-300 dark:border-slate-600 font-semibold p-4 text-slate-900 dark:text-slate-200 text-left">User</th>
                <th class="border border-slate-300 dark:border-slate-600 font-semibold p-4 text-slate-900 dark:text-slate-200 text-left">...</th>
      </tr>
    </thead>

    <tbody>
      <% @orders.each do |order| %>
      <%= content_tag :tr, id: dom_id(order), class: dom_class(order) do %>

              <td class="border border-slate-300 dark:border-slate-700 p-4 text-slate-500 dark:text-slate-400"><%= order.total_price %></td>
              <td class="border border-slate-300 dark:border-slate-700 p-4 text-slate-500 dark:text-slate-400"><%= order.user %></td>
            <td class="border border-slate-300 dark:border-slate-700 p-4 text-slate-500 dark:text-slate-400">
        <%= link_to 'Show', order, class: "text-neutral-700 underline" %>
        <%= link_to 'Edit', edit_order_path(order), class: "text-indigo-700 underline" %>
        <%= link_to 'Destroy', order, method: :delete, class: "text-red-700 underline", data: { "turbo-method": :delete, "turbo-confirm": "Are you sure?" } %>
      </td>
      <% end %>
      <% end %>
    </tbody>
  </table>
      <div class= "text-center">
  <%= page_entries_info @orders %>
  </div>
    <div class= "text-center">
      <%= link_to 'Previous page', orders_path(page: @orders.prev_page) if @orders.prev_page %>
      <%= link_to 'Next page', orders_path(page: @orders.next_page) if @orders.next_page %>
    </div>
</div>
</div>
