
<%= simple_form_for(@order_line) do |f| %>
<% if order_line.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(order_line.errors.count, "error") %> prohibited this order_line from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% order_line.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<br />
<% end %>

  <div class="mb-6">
                      <%= f.association :weapon %>
            </div>
  <div class="mb-6">
                      <%= f.label :count, class: label_class %>
        <%= f.number_field :count, class: input_class %>
            </div>
  <div class="mb-6">
                      <%= f.association :order %>
            </div>

<%= f.submit class: button_class(theme: 'primary') %>

<% if order_line.persisted? %>
<%= link_to "Cancel", order_line, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", order_lines_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>