


<div class="container mx-auto px-4">
  <div class="flex items-center justify-between flex-wrap mb-6">
    <h1 class="text-3xl font-bold">Order_lines</h1>

    <%= link_to 'Add New Order line', new_order_line_path, class: button_class(theme: "primary") %>
  </div>

  <table class="table-auto border-collapse border-slate-400 w-full">
    <thead class="bg-slate-50 dark:bg-slate-700">
      <tr>

                  <th class="border border-slate-300 dark:border-slate-600 font-semibold p-4 text-slate-900 dark:text-slate-200 text-left">Weapon</th>
                  <th class="border border-slate-300 dark:border-slate-600 font-semibold p-4 text-slate-900 dark:text-slate-200 text-left">Count</th>
                  <th class="border border-slate-300 dark:border-slate-600 font-semibold p-4 text-slate-900 dark:text-slate-200 text-left">Order</th>
                <th class="border border-slate-300 dark:border-slate-600 font-semibold p-4 text-slate-900 dark:text-slate-200 text-left">...</th>
      </tr>
    </thead>

    <tbody>
      <% @order_lines.each do |order_line| %>
      <%= content_tag :tr, id: dom_id(order_line), class: dom_class(order_line) do %>

              <td class="border border-slate-300 dark:border-slate-700 p-4 text-slate-500 dark:text-slate-400"><%= order_line.weapon %></td>
              <td class="border border-slate-300 dark:border-slate-700 p-4 text-slate-500 dark:text-slate-400"><%= order_line.count %></td>
              <td class="border border-slate-300 dark:border-slate-700 p-4 text-slate-500 dark:text-slate-400"><%= order_line.order %></td>
            <td class="border border-slate-300 dark:border-slate-700 p-4 text-slate-500 dark:text-slate-400">
        <%= link_to 'Show', order_line, class: "text-neutral-700 underline" %>
        <%= link_to 'Edit', edit_order_line_path(order_line), class: "text-indigo-700 underline" %>
        <%= link_to 'Destroy', order_line, method: :delete, class: "text-red-700 underline", data: { "turbo-method": :delete, "turbo-confirm": "Are you sure?" } %>
      </td>
      <% end %>
      <% end %>
    </tbody>
  </table>
      <div class= "text-center">
  <%= page_entries_info @order_lines %>
  </div>
    <div class= "text-center">
      <%= link_to 'Previous page', order_lines_path(page: @order_lines.prev_page) if @order_lines.prev_page %>
      <%= link_to 'Next page', order_lines_path(page: @order_lines.next_page) if @order_lines.next_page %>
    </div>
</div>
</div>
